body {
    color: aliceblue;
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png);
}
h1{
    background-color: darkgray;
}
#menu{
    text-align: Center;
    color: aliceblue;
    background-color: deepskyblue;
}
