body{
    color: tomato;
}
#titulo{
    color: tomato;
    background-color:antiquewhite ;
    text-align: right;
    background-position: right;
    }
#menu{
    text-align: left;
    color: tomato;
    background-color:antiquewhite ;
    background-position: left;
}
a{
    color: tomato;
}
h2{text-align: right;}
p{
    color: tomato;
    text-align: right;
}